<launch>
    <param name="robot_name" value="terminator" />
    <node pkg="verbal_communication" type="speech_observer.py" name="speech_observer" output="screen" />
    <node pkg="verbal_communication" type="encoder.py" name="encoder" output="screen" />
    <node pkg="verbal_communication" type="speaker.py" name="speaker" output="screen" />
    <node pkg="verbal_communication" type="greeting_task.py" name="greeting_task" output="screen"/>
    <node pkg="verbal_communication" type="move_task.py" name="move_task" output="screen" />
</launch>
