<launch>
    <param name="robot_name" value="bumblebee" />
    <node pkg="verbal_communication" type="SpeechObserver.py" name="SpeechObserver" output="screen" />
    <node pkg="verbal_communication" type="Encoder.py" name="Encoder" output="screen" />
    <node pkg="verbal_communication" type="Speaker.py" name="Speaker" output="screen" />
    <node pkg="verbal_communication" type="AvailableTasks.py" name="TasksService" output="screen"/>
    <node pkg="verbal_communication" type="TaskDistributionPublisher.py" name="TasksPub" output="screen" />
    <node pkg="verbal_communication" type="TaskDistributionSubscriber.py" name="TasksSub" output="screen" />
</launch>